<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kursovicv21">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Изменение в файловой системе -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Чтение из файловой системы -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- Позволяет получать доступ к информации о сетях -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Разрешение на блокировку пробуждения -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- Доступ в интернет -->
    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KursovicV21">
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Player_Fragment"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>